<div class="container-fluid py-4">
    <div class="card" style="width: 100%;">
        <div class="card-body" style="align-items: left;color: darkgray;">
            Event History
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table class="table table-borderless">
            <thead>
                <th>S.No</th>
                <th>Event Month</th>
                <th>Event Date</th>
                <th>Event Year</th>
                <th>Event Amount Paid</th>
                <th>View</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-success">View</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
